In [1]:
import pandas as pd
import P3_04_module_fao as p3

In [2]:
# QUESTION 1
print("QUESTION 1 : population mondiale en 2013 :", p3.sum_population('population'))

QUESTION 1 : population mondiale en 2013 : 6997326000

In [3]:
# QUESTION 2

# to load specific dataframe
france_ble = p3.france_ble()

# to substract exportations's value
france_ble.loc[37490,'Valeur'] = 0 - france_ble.loc[37490,'Valeur']

#  to test Production + Importations + Variations - Exportations
if not france_ble.loc[37487:37490,'Valeur'].sum()\
    == france_ble.loc[37492:37497,'Valeur'].sum()\
    == france_ble.at[37491,'Valeur']:
    
    print("inconsistency in the equation")
    
else :
    print("QUESTION 2 : ")
    print("Production + (Importations - Quantité) - (Exportations - Quantité) + Variation de stock")
    print("= Disponibilité intérieure")
    print("= Aliments pour animaux + Semences + Pertes + Traitement + Autres utilisations + Nourriture")

QUESTION 2 :
Production + (Importations - Quantité) - (Exportations - Quantité) + Variation de stock
= Disponibilité intérieure
= Aliments pour animaux + Semences + Pertes + Traitement + Autres utilisations + Nourriture

In [4]:
# QUESTION 3

# to create a copy of dataframe
p = p3.population[['code_pays','population']].copy()
d = p3.dispo_alim[['code_pays','pays','produit','dispo_alim_kcal_p_j','dispo_prot']].copy()

# merge : many to left : 1 to right : external left
d = d.merge(p, how= 'left', left_on = 'code_pays' , right_on = 'code_pays')

# to compute 'dispo énergétique' 
d['dispo_alim_kcal_p_j'] *= d['population'] * 365 

# to compute 'dispo protéine'
d['dispo_prot'] *= d['population'] * 365 / 1000

# to rename columns
d.rename(columns={'dispo_alim_kcal_p_j':'dispo_kcal',
                  'dispo_prot'         :'dispo_prot_kg'},inplace=True)

# to order columns
d = d[['code_pays','pays','produit','dispo_kcal','dispo_prot_kg']]

# to create index with useless rows
index_d_0 = d[ (d['dispo_kcal']==0)
              &(d['dispo_prot_kg']==0)
             ].index

# to drop useless rows
d.drop(index=index_d_0, inplace=True)

print("QUESTION 3 : ")
d

QUESTION 3 :

,code_pays,pays,produit,dispo_kcal,dispo_prot_kg
0,1,Arménie,Blé,1.112684e+12,3.316318e+07
4,1,Arménie,Avoine,2.173210e+09,9.779445e+04
5,1,Arménie,"Céréales, Autres",1.521247e+10,4.237760e+05
6,1,Arménie,Pommes de Terre,8.910161e+10,2.108014e+06
8,1,Arménie,Sucre Eq Brut,3.281547e+11,0.000000e+00
...,...,...,...,...,...
11166,276,Soudan,Oeufs,5.542744e+10,4.018489e+06
11168,276,Soudan,Poissons Eau Douce,2.771372e+10,3.325646e+06
11169,276,Soudan,"Poissons Marins, Autres",0.000000e+00,5.542744e+05
11170,276,Soudan,Riz (Eq Blanchi),1.939960e+11,3.879921e+06
11171,276,Soudan,Lait - Excl Beurre,4.364911e+12,2.182455e+08

In [5]:
# QUESTION 4
dataframe_question_3 = d.copy()

table_ratio = p3.calculer_ratio(dataframe_question_3,'dispo_kcal'   ,'ratio_energie_poids')
table_ratio = p3.calculer_ratio(table_ratio         ,'dispo_prot_kg','ratio_proteines'    )

table_ratio

,code_pays,pays,produit,ratio_energie_poids,ratio_proteines
0,1,Arménie,Blé,2860.368946,0.085252
1,1,Arménie,Avoine,2173.210000,0.097794
2,1,Arménie,"Céréales, Autres",2535.411667,0.070629
3,1,Arménie,Pommes de Terre,664.937388,0.015731
4,1,Arménie,Sucre Eq Brut,3348.517449,0.000000
...,...,...,...,...,...
9196,276,Soudan,Oeufs,1458.616842,0.105750
9197,276,Soudan,Poissons Eau Douce,893.990968,0.107279
9198,276,Soudan,"Poissons Marins, Autres",0.000000,0.110855
9199,276,Soudan,Riz (Eq Blanchi),4041.584167,0.080832
9200,276,Soudan,Lait - Excl Beurre,740.819908,0.037041

In [6]:
# QUESTION 5

# to compute 20 best products
product_kcal_best_20 = p3.calculer_20_meilleurs_produits(table_ratio.copy(),'ratio_energie_poids')
product_prot_best_20 = p3.calculer_20_meilleurs_produits(table_ratio.copy(),    'ratio_proteines')

print("QUESTION 5 : Citez 5 aliments parmi les 20 aliments les plus caloriques.\n")
p3.sample_5(product_kcal_best_20)    

print("\n             Citez 5 aliments parmi les 20 aliments les plus riches en protéines.\n")
p3.sample_5(product_prot_best_20)

QUESTION 5 : Citez 5 aliments parmi les 20 aliments les plus caloriques.

Huile d'Olive
Huile Graines de Coton
Huil Plantes Oleif Autr
Huiles de Foie de Poisso
Huile de Son de Riz

             Citez 5 aliments parmi les 20 aliments les plus riches en protéines.

Graines de tournesol
Piments
Soja
Plantes Oleiferes, Autre
Oeufs

In [7]:
#QUESTION 6
# median is better than mean against outliers
table_ratio = table_ratio.groupby('produit').median()

# to transfer 'produit' to dataframe'column
table_ratio.reset_index(inplace=True)

print("QUESTION 6 : disponibilité intérieure mondiale végétale : {} kcal"
      .format(p3.somme_equilibre_prod('dispo_int','ratio_energie_poids',table_ratio,'végétal'))
     )

QUESTION 6 : disponibilité intérieure mondiale végétale : 1.0840572020127718e+16 kcal

In [8]:
#QUESTION 7
p3.retourner_kcal_prot_ratio("QUESTION 7 : Disponibilité intérieure mondiale végetale",
                             ['dispo_int'],
                             table_ratio,
                             'végétal'                         
                            )

       unité  nb_personnes  pourcentage
0   calories  1.237508e+10   176.854447
1  protéines  1.431116e+10   204.523332

In [9]:
# QUESTION 8 
p3.retourner_kcal_prot_ratio("QUESTION 8 : disponibilité alimentaire + alimentation animale + pertes",
                             ['nourriture','alim_ani','pertes'],
                             table_ratio,
                             'végétal'
                            )

       unité  nb_personnes  pourcentage
0   calories  8.481657e+09   121.212827
1  protéines  8.899752e+09   127.187894

In [10]:
# QUESTION 9
p3.retourner_kcal_prot_ratio("QUESTION 9 : disponibilité alimentaire végétale et animale",
                             ['nourriture'],
                             table_ratio,
                            )

       unité  nb_personnes  pourcentage
0   calories  6.604014e+09    94.379103
1  protéines  8.476329e+09   121.136695

In [11]:
#QUESTION 10 :

print("QUESTION 10 : personnes en sous nutrition dans le monde en 2013 : {:.0f} %"
      .format (p3.sum_population('sous_nutrition')* 100 / p3.sum_population('population'))
     )

QUESTION 10 : personnes en sous nutrition dans le monde en 2013 : 11 %

In [12]:
#Question 11 : 
print("QUESTION 11 : poids de l'alimentation céréalière animale  : {:.0f} %"
      .format(p3.donner_proportion('alim_ani','nourriture',True,p3.Liste.cereales()))
     )

QUESTION 11 : poids de l'alimentation céréalière animale  : 45 %

In [13]:
#QUESTION 12

# SELECT FROM
exportations_15 = p3.balance_com[['produit','exportations','code_pays']].copy()

# WHERE 
exportations_15 = exportations_15[exportations_15['code_pays'].isin(p3.sous_nutrition['code_pays'])]

# to drop restriction's column : code_pays
del exportations_15['code_pays']

# GROUP BY : SOMME sur exportations REGROUPE par produit
exportations_15 = p3.group_by_reset_index(exportations_15,'produit','sum')

# ORDER BY exportations DESC  LIMIT 15
exportations_15 = p3.order_by_desc_limit(exportations_15,'exportations',15)


# SELECT FROM
importations_200 = p3.balance_com[['produit','importations']].copy()

# WHERE code_produit IN liste_produit_15_exportations
importations_200 = importations_200[importations_200['produit'].isin(exportations_15['produit'])]

# GROUP BY : produit WITH sum VALUES importations
importations_200 = p3.group_by_reset_index(importations_200,['produit'],'sum')

# ORDER BY importations DESC LIMIT 200
importations_200 = p3.order_by_desc_limit(importations_200,'importations',200)


# to compute ratios 
for index, product_name in enumerate(importations_200['produit']):
    
    importations_200.at[index,'ratio1'] = p3.donner_proportion ('autres_utilisations',
                                                                'dispo_int',
                                                                False,
                                                                p3.code_produit(product_name)
                                                               )

    importations_200.at[index,'ratio2'] = p3.donner_proportion ('alim_ani',
                                                                'nourriture',
                                                                True,
                                                                p3.code_produit(product_name)
                                                               )

ratio1 = p3.order_by_desc_limit(importations_200[['produit','ratio1']],'ratio1',3)
ratio2 = p3.order_by_desc_limit(importations_200[['produit','ratio2']],'ratio2',3)

print('QUESTION 12 :')
print("ratio 1 : proportion autres utilisations  /  disponibilité intérieure")
print("ratio 2 : proportion alimentation animale / (alimentation animale + humaine)")

ratio1.merge(ratio2, left_index=True, right_index=True)

QUESTION 12 :
ratio 1 : proportion autres utilisations  /  disponibilité intérieure
ratio 2 : proportion alimentation animale / (alimentation animale + humaine)

        produit_x     ratio1 produit_y     ratio2
0  Huile de Palme  70.525804      Maïs  77.245412
1   Huile de Soja  27.607793      Soja  60.628720
2            Maïs  20.866823    Manioc  39.579312

In [24]:
# QUESTION 13 

# SELECT|FROM
e = p3.equilibre_prod[['alim_ani','code_produit','pays']].copy()

# WHERE : pays USA  AND code_produit IN liste_cereales
e = e[ (e['pays'] == "États-Unis d'Amérique") & (e['code_produit'].isin(p3.Liste.cereales()))]

# SELECT|FROM
b = p3.balance_com[['productions','pays','code_produit']].copy()

# WHERE : pays USA  AND code_produit IN produits_animaux
b = b[ (b['pays'] == "États-Unis d'Amérique") & (b['code_produit'].isin(p3.Liste.produits_animaux()))]

ratio =  e['alim_ani'].sum() / b['productions'].sum() 

# to give freed cereals for 10% of productions
cereal_quantity = ( e['alim_ani'].sum() * 0.1 ) * ratio
# from MT to T
cereal_quantity *= 1000

print("QUESTION 13 : quantité de céréales libérées : {:.0f} Tonnes".format(cereal_quantity))

In [15]:
# QUESTION 14 

# SELECT FROM
b = p3.balance_com[['exportations','productions','pays','produit']].copy()

# WHERE : pays Thaïlande  AND produit=Manioc 
b = b[(b['pays'] == 'Thaïlande') & (b['produit'] == "Manioc")]

ratio_exportations_productions = b['exportations'][9400] * 100 / b['productions'][9400]

# SELECT|FROM
p = p3.population[['pays','population']].copy()
s = p3.sous_nutrition [['pays','nb_personnes']].copy()

# WHERE : jointure 1=1
p = p.merge(s,how = 'inner')

# WHERE : pays=Thaïlande
p = p[p['pays'] == 'Thaïlande']

ratio_sous_nutrition_population = p['nb_personnes'][85] * 100 / p['population'][85]

print("QUESTION 14 : Thaïlande")
print("proportion de manioc exporté : {:.0f} %".format(ratio_exportations_productions))
print("proportion de sous nutrition : {:.0f} %".format(ratio_sous_nutrition_population))

QUESTION 14 : Thaïlande
proportion de manioc exporté : 83 %
proportion de sous nutrition : 8 %